<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" id="WebApp_ID">
	<display-name>RulesExternalization</display-name>
	<servlet>
		<description>
		</description>
		<display-name>PojoController</display-name>
		<servlet-name>PojoController</servlet-name>
		<servlet-class>
		com.rules.external.PojoController</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>RulesBlazeController</display-name>
		<servlet-name>RulesBlazeController</servlet-name>
		<servlet-class>
		com.rules.external.RulesBlazeController</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>RulesMultipleController</display-name>
		<servlet-name>RulesMultipleController</servlet-name>
		<servlet-class>
		com.rules.external.RulesMultipleController</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>RulesPojoController</display-name>
		<servlet-name>RulesPojoController</servlet-name>
		<servlet-class>
		com.rules.external.RulesPojoController</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>RulesExceptionController</display-name>
		<servlet-name>RulesExceptionController</servlet-name>
		<servlet-class>
		com.rules.external.RulesExceptionController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PojoController</servlet-name>
		<url-pattern>/PojoController</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RulesBlazeController</servlet-name>
		<url-pattern>/RulesBlazeController</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RulesMultipleController</servlet-name>
		<url-pattern>/RulesMultipleController</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RulesPojoController</servlet-name>
		<url-pattern>/RulesPojoController</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RulesExceptionController</servlet-name>
		<url-pattern>/RulesExceptionController</url-pattern>
	</servlet-mapping>

	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
</web-app>
